// iOS Google Sign-In configuration
GID_CLIENT_ID=450701745537-ladueqi55rioo7gfo773u4ddnkc8hg21.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID=com.googleusercontent.apps.450701745537-ladueqi55rioo7gfo773u4ddnkc8hg21
GID_SERVER_CLIENT_ID=450701745537-3cc3mks20uu1p1oghck0rpo9cjnnlb8j.apps.googleusercontent.com
